export POSTGRES_URI=postgresql://root:secret@localhost:5432/simple_bank?sslmode=disable
export POSTGRES_URI_DEV=postgresql://root:secret@localhost:5432/simple_bank_dev?sslmode=disable
export POSTGRES_USER=root
export POSTGRES_DATABASE=simple_bank
export POSTGRES_DATABASE_DEV=simple_bank_dev
export POSTGRES_PASSWORD=secret

export SERVER_HOST=localhost:8080
export GIN_MODE=release

export BYCRYPT_COST=10

export TOKEN_DURATION=24h
export TOKEN_SECRET_KEY=12345678998765432145612378998765